<div style="padding: 12px 15px;">

    <div class="mr-1 mb-2  search-button title-style  mr-0" style="padding-bottom: 5px;">
        <b> 
            {{
            'refDemoEntity.name.title' |
            translateRefDemoEntity }}</b>
        <!-- -->
        <button class="float-right mr-0 mb-1 btn btn-labeled height-button   border-radius-style button-primary-revert" type="button" (click)="addRefDemoEntity()">
            <!-- <i class="fas fa-plus   font-weight-400"></i>  -->
            <i nz-icon nzType="plus"   ></i>
            <span class="btn-title">{{ 'common.command.add' | translate }}</span>
        </button>

        <div style="clear: both;"></div>


    </div>

    <!-- start : here you find all field of searching -->
    <app-field-searching #field_searching (search)="nzSearch(field_searching.refDemoEntityForm.value)" (reset)="reset()"></app-field-searching>
    <!-- end : here you find all field of searching -->

    <div>
        <div>
            <ng-template #header>
                <div class="nz-table-header-custom">
                    <div class="mr-2 d-inline-block nz-table-header-total">
                        {{nzTotalItem}} {{ 'common.label.totalRow' | translate }}
                    </div>
                    <!-- les valeurs de filters de rechercher  -->
                    <span class="d-inline-block   border-left border-right  nz-table-header-tag" *ngIf="nzListTagCritier && nzListTagCritier.length>0"> 
                        <!--  -->
                         
                        <app-horizontal-scroll #h_s> 
                            <ng-container *ngFor="let item of nzListTagCritier">
                                <nz-tag [nzMode]="'closeable'" (nzOnClose)="nzHandleReset(item.key,field_searching.refDemoEntityForm,field_searching.refDemoEntityCriteria)"  class="btn mr-2 pr-2 pl-2" [nzColor]="_colorsService.byName('eno-secondaire-color')"    >
                                    {{  item?.title }}  
                                    {{  item?.object?.value }} 
                                    <ng-container [ngSwitch]="item?.key">
                                        <ng-container *ngSwitchCase="'parametres'">
                                            {{  item?.list  ? checkBoxListToStr(item?.list,'label') : "" }}   
                                        </ng-container> 
                                        <ng-container *ngSwitchDefault>
                                            {{  item?.list  ? listToStr(item?.list,'value') : "" }}    
                                        </ng-container>
                                    </ng-container>
                                </nz-tag>
                            </ng-container> 
                        </app-horizontal-scroll>
                    </span>
                    <span class="nz-table-header-btn">
                        <!-- afficher les filters -->
                        <button class="btn  btn-light float-right" type="button" (click)="showCompleteForm=!showCompleteForm" [ngClass]="{'btn-light-focused': showCompleteForm}">
                            <i nz-icon nzType="filter" nzTheme="outline" ></i>
                            <span class="btn-title">{{ 'common.command.filter' | translate }} </span>
                    </button>
                    <!-- export table  -->

                    <button nz-dropdown [nzDropdownMenu]="exporter_menu" [nzPlacement]="'bottomLeft'" class="btn  btn-light float-right" type="button" [disabled]="!field_searching.refDemoEntityForm.valid">
                            <i nz-icon nzType="cloud-download" nzTheme="outline" class="position-relative position-top-1 mr-2"  ></i> 
                            <span class="btn-title">{{ 'common.command.exporter' | translate }}</span>
                            <i nz-icon nzType="down" class="  ml-2" ></i>
                        </button>
                    <!-- supprimer les items   -->
                    <button type="button" title="{{  'common.label.delete' | translate }}" *ngIf="hasRole('ROLE_EXPORT') && !hasRole('ROLE_REF_PARAMSURVEILLANCE_READ') && nzSelectedList && nzSelectedList?.length > 0" (click)="nzDeleteItem()" class="btn btn-red float-right  ">
                        <!-- <i class="fal fa-trash mr-2"></i>  -->
                        <i nz-icon nzType="delete" nzTheme="outline"  ></i>
                        <span class="btn-title">{{ 'common.command.delete' | translate }}</span>
                    </button>
                    </span>






                </div>
                <!-- *ngIf="hasRole('ROLE_EXPORT') && nzItemList && nzItemList.length > 0" -->
                <nz-dropdown-menu #exporter_menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item *ngIf="nzItemList && nzItemList.length > 0" (click)="nzExport('refDemoEntityDataTable','xls')"> {{ 'common.command.csv' | translate }}</li>
                        <li nz-menu-item *ngIf="nzItemList && nzItemList.length > 0" (click)="nzExport('refDemoEntityDataTable','pdf')"> {{ 'common.command.pdf' | translate }}</li>
                    </ul>
                </nz-dropdown-menu>
                <div *ngIf="showCompleteForm==true" class="container-form">
                    <ng-container *ngTemplateOutlet="field_searching.form_search"></ng-container>
                </div>
            </ng-template>
            <!--  [nzShowTotal]="dataSize"  -->
            <!-- nzBordered: add border in table -->
            <nz-table id="refDemoEntityDataTable" [nzScroll]="{ x: '100vw'  }" [nzTableLayout]="'fixed'" [nzTitle]="header" class="label-style table-striped" #refDemoEntityDataTable nzShowSizeChanger [nzLoading]="loading" [nzTotal]="nzTotalItem" [(nzPageIndex)]="nzFirstItem"
                [nzFrontPagination]="false" (nzPageIndexChange)="loadRefDemoEntityData()" (nzPageSizeChange)="nzPageSizeChange($event)" [nzShowPagination]="true" [nzPageSize]="nzRowsItem" [nzPageSizeOptions]="[10, 50,100]" [nzData]="nzItemList" [nzSize]="'middle'">
                <thead>
                    <tr class="label-style enoLight">
                        <th class="text-center ant-action" [nzChecked]="nzIsCheckedAll()" (nzCheckedChange)="nzCheckedChangeAll($event)" nzShowCheckbox>
                        </th>
                        <th class=" w-8rem column" columnName="libelle" nzShowSort nzCustomFilter (nzSortOrderChange)="nzSortOrderChange($event,'libelle')" nzSortKey="libelle">
                            {{ 'refDemoEntity.libelle.label' | translateRefDemoEntity }}
                            <nz-filter-trigger [nzDropdownMenu]="nz_dropdown_menu_libelleLike" [nzActive]="nzIsActiveControl('libelleLike',field_searching.refDemoEntityForm)">
                                <i nz-icon nzType="search"></i>
                            </nz-filter-trigger>
                            <nz-dropdown-menu #nz_dropdown_menu_libelleLike="nzDropdownMenu">
                                <app-nz-table-dropdown-filter [nzNameSearch]="'common.command.search' | translate" [nzNameReset]="'common.command.reset' | translate" (nzSearch)="nzSearch(field_searching.refDemoEntityForm.value)" (nzReset)="nzHandleReset('parametres',field_searching.refDemoEntityForm,field_searching.refDemoEntityCriteria)">
                                    <div class="form-group">
                                        <ng-container *ngTemplateOutlet="field_searching.libelleLike"></ng-container>
                                    </div>
                                </app-nz-table-dropdown-filter>
                            </nz-dropdown-menu>
                        </th>
                        <th class="w-8rem column" columnName="date" nzShowSort nzCustomFilter (nzSortOrderChange)="nzSortOrderChange($event,'date')" nzSortKey="date">
                            {{ 'refDemoEntity.date.label' | translateRefDemoEntity }}
                            <nz-filter-trigger [nzDropdownMenu]="nz_dropdown_menu_date" [nzActive]="nzIsActiveControl('dateBetweenTo',field_searching.refDemoEntityForm) ||  nzIsActiveControl('dateBetweenFrom',field_searching.refDemoEntityForm) ">
                                <i nz-icon nzType="search"></i>
                            </nz-filter-trigger>
                            <nz-dropdown-menu #nz_dropdown_menu_date="nzDropdownMenu">
                                <app-nz-table-dropdown-filter [nzNameSearch]="'common.command.search' | translate" [nzNameReset]="'common.command.reset' | translate" (nzSearch)="nzSearch(field_searching.refDemoEntityForm.value)" (nzReset)="nzHandleReset('parametres',field_searching.refDemoEntityForm,field_searching.refDemoEntityCriteria)">
                                    <div class="form-group">
                                        <ng-container *ngTemplateOutlet="field_searching.dateBetween; context: { $implicit: 'two_input'} "></ng-container>
                                    </div>
                                </app-nz-table-dropdown-filter>
                            </nz-dropdown-menu>
                        </th>
                        <th class=" w-8rem column" columnName="select.label" nzShowSor nzCustomFilter (nzSortOrderChange)="nzSortOrderChange($event,'select.label')" nzSortKey="select.label">
                            {{ 'refDemoEntity.select.label' | translateRefDemoEntity }}
                            <nz-filter-trigger [nzDropdownMenu]="nz_dropdown_menu_select" [nzActive]="nzIsActiveControl('convention',field_searching.refDemoEntityForm)">
                                <i nz-icon nzType="search"></i>
                            </nz-filter-trigger>
                            <nz-dropdown-menu #nz_dropdown_menu_select="nzDropdownMenu">
                                <app-nz-table-dropdown-filter [nzNameSearch]="'common.command.search' | translate" [nzNameReset]="'common.command.reset' | translate" (nzSearch)="nzSearch(field_searching.refDemoEntityForm.value)" (nzReset)="nzHandleReset('parametres',field_searching.refDemoEntityForm,field_searching.refDemoEntityCriteria)">
                                    <div class="form-group">
                                        <ng-container *ngTemplateOutlet="field_searching.convention"></ng-container>
                                    </div>
                                </app-nz-table-dropdown-filter>
                            </nz-dropdown-menu>
                        </th>
                        <th class="w-8rem column" columnName="multiSelect" nzShowSort nzCustomFilter (nzSortOrderChange)="nzSortOrderChange($event,'multiSelect')" nzSortKey="multiSelect">
                            {{ 'refDemoEntity.multiSelect.label' | translateRefDemoEntity }}
                            <nz-filter-trigger [nzDropdownMenu]="nz_dropdown_menu_convention_multip" [nzActive]="nzIsActiveControl('convention_multip',field_searching.refDemoEntityForm)">
                                <i nz-icon nzType="search"></i>
                            </nz-filter-trigger>
                            <nz-dropdown-menu #nz_dropdown_menu_convention_multip="nzDropdownMenu">
                                <app-nz-table-dropdown-filter [nzNameSearch]="'common.command.search' | translate" [nzNameReset]="'common.command.reset' | translate" (nzSearch)="nzSearch(field_searching.refDemoEntityForm.value)" (nzReset)="nzHandleReset('parametres',field_searching.refDemoEntityForm,field_searching.refDemoEntityCriteria)">
                                    <div class="form-group">
                                        <ng-container *ngTemplateOutlet="field_searching.convention_multip"></ng-container>
                                    </div>
                                </app-nz-table-dropdown-filter>
                            </nz-dropdown-menu>
                        </th>
                        <th class="w-8rem column" columnName="radio" nzCustomFilter nzShowSort (nzSortOrderChange)="nzSortOrderChange($event,'checkbox')" nzSortKey="checkbox">
                            {{ 'refDemoEntity.checkbox.label' | translateRefDemoEntity }}
                            <nz-filter-trigger [nzDropdownMenu]="nz_dropdown_menu_parametres" [nzActive]="nzIsActiveControl('parametres',field_searching.refDemoEntityForm)">
                                <i nz-icon nzType="search"></i>
                            </nz-filter-trigger>
                            <nz-dropdown-menu #nz_dropdown_menu_parametres="nzDropdownMenu">
                                <app-nz-table-dropdown-filter [nzNameSearch]="'common.command.search' | translate" [nzNameReset]="'common.command.reset' | translate" (nzSearch)="nzSearch(field_searching.refDemoEntityForm.value)" (nzReset)="nzHandleReset('parametres',field_searching.refDemoEntityForm,field_searching.refDemoEntityCriteria)">
                                    <div class="form-group">
                                        <ng-container *ngTemplateOutlet="field_searching.parametres"></ng-container>
                                    </div>
                                </app-nz-table-dropdown-filter>
                            </nz-dropdown-menu>
                        </th>
                        <th class="w-8rem column" columnName="code" nzShowSort nzSortKey="code" (nzSortOrderChange)="nzSortOrderChange($event,'code')">
                            {{ 'refDemoEntity.code.label' | translateRefDemoEntity }}
                        </th>
                        <th class="w-8rem column " columnName="actif" nzShowSort (nzSortOrderChange)="nzSortOrderChange($event,'actif')" nzSortKey="actif" [nzFilters]="filterActif" [nzFilterMultiple]="false" (nzFilterChange)="nzFilterChangeRadio($event,'actif',field_searching.refDemoEntityForm)">
                            {{'refDemoEntity.actif.label' | translateRefDemoEntity}}
                        </th>
                        <th nzRight="0px" class=" pl-3 pr-3 ant-action">{{ 'common.label.actions' | translate }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of refDemoEntityDataTable.data">
                        <td class="text-center" nzShowCheckbox [nzChecked]="nzIsChecked(item)" (nzCheckedChange)="nzCheckedChange($event,item)">
                        </td>
                        <td (click)="viewRefDemoEntity(item)">
                            <span style="cursor: pointer;" class="text-center">{{ item?.libelle }}</span>
                        </td>
                        <td (click)="viewRefDemoEntity(item)">
                            <span style="cursor: pointer;" class="text-ce nter">{{ item?.libelle }}</span>
                        </td>
                        <td (click)="viewRefDemoEntity(item)">
                            <span style="cursor: pointer;" class="text-center">{{ item?.code }}</span>
                        </td>

                        <td class="text-center" (click)="viewRefDemoEntity(item)">
                            <span *ngIf="item.actif">
                                <div class="fas fa-circle fa-circle-success"></div>
                            </span>
                            <span *ngIf="!item.actif" (click)="viewRefDemoEntity(item)">
                                <div class="fas fa-circle fa-circle-alert"></div>
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center" nzRight="0px">
                            <i nz-icon nzType="ellipsis" nzTheme="outline" nz-dropdown [nzDropdownMenu]="menuAction" [nzPlacement]="'bottomCenter'"></i>
                            <nz-dropdown-menu #menuAction="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="viewRefDemoEntity(item)">{{ 'common.command.visualiser' | translate }}</li>
                                    <li nz-menu-item (click)="editRefDemoEntity(item)">{{ 'common.command.edit' | translate }}</li>
                                </ul>
                            </nz-dropdown-menu>
                            <!-- <span title="Visualiser" class="btn btn-xs btn-outline-purple" (click)="viewRefDemoEntity(item)"><i class="fas fa-eye"></i></span> -->
                        </td>

                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <!-- END TABLE -->
</div>

<nz-drawer [nzMaskClosable]="false" [nzVisible]="visible_drawer" [nzClosable]="true" (nzOnClose)="closeRefDemoEntity()">
    <ng-container [ngSwitch]="_action_ecran">
        <ng-container *ngSwitchCase="entity_action.VIEW">
            <app-ref-demo-entity-view></app-ref-demo-entity-view>
        </ng-container>
        <ng-container *ngSwitchCase="entity_action.EDIT">
            <app-ref-demo-entity-edit></app-ref-demo-entity-edit>
        </ng-container>
        <ng-container *ngSwitchCase="entity_action.ADD">
            <app-ref-demo-entity-add></app-ref-demo-entity-add>
        </ng-container>
    </ng-container>

</nz-drawer>