<div id="main">
    <div class="login-img-left">
        <div class="overlay">
        </div>
    </div>
    <div class="login-content">
        <div class="mt-4 img-logo-login">
            <img src="assets/enova-theme/img/logo/logo.png" alt="App Logo" />
        </div>
        <div class="login-header">
            <div class="title">
                {{ 'editDefaultPassword.title' | translate }}
            </div>
            <div class="small-title text-warning">
                Vous vous êtes connecté pour la première fois, veuillez changer votre mot de passe.
            </div>
        </div>

        <form [formGroup]="loginForm" (keydown.enter)="changePassword(loginForm.value)" class="form-validate mb-lg margin-bottom-0" (submit)="changePassword(loginForm.value)">



            <div class="group">
                <label class=" col-form-label-form input-label-style label-form">{{ 'editDefaultPassword.label.password' | translate }}</label>
                <input class="login-input" [type]="(togglePass) ? 'password' : 'text'" #passwordControl formControlName="newPassword" placeholder="" required="">
                <span toggle="#password-field" (click)="togglePass = !togglePass" [class.icon-eye]="togglePass" [class.fa]="!togglePass" [class.fa-eye-slash]="!togglePass" class=" field-icon"></span>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="text-danger" *ngIf="loginForm.controls['newPassword'].hasError('required') && (loginForm.controls['newPassword'].dirty || loginForm.controls['newPassword'].touched)">{{ 'common.message.required' | translate }}</span>
                <span class="text-danger" *ngIf="loginForm.controls['newPassword'].hasError('minlength') && !loginForm.controls['newPassword'].hasError('required') && (loginForm.controls['newPassword'].dirty || loginForm.controls['newPassword'].touched)">{{ 'editPassword.label.minLengthPassword' | translate }}</span>

            </div>
            <div class="group">
                <label class=" col-form-label-form input-label-style label-form">{{ 'editDefaultPassword.label.confirmPassword' | translate }}</label>
                <input class="login-input" [type]="(togglePassConfirm) ? 'password' : 'text'" #passwordControl formControlName="confirmPassword" placeholder="" required="">
                <span toggle="#password-field" (click)="togglePassConfirm = !togglePassConfirm" [class.icon-eye]="togglePassConfirm" [class.fa]="!togglePassConfirm" [class.fa-eye-slash]="!togglePassConfirm" class=" field-icon"></span>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span class="text-danger" *ngIf="loginForm.controls['confirmPassword'].hasError('required') && (loginForm.controls['confirmPassword'].dirty || loginForm.controls['confirmPassword'].touched)">{{ 'common.message.required' | translate }}</span>
                <span class="text-danger" *ngIf="loginForm.controls['confirmPassword'].hasError('minlength') && !loginForm.controls['confirmPassword'].hasError('required') && (loginForm.controls['confirmPassword'].dirty || loginForm.controls['confirmPassword'].touched)">{{ 'editPassword.label.minLengthPassword' | translate }}</span>

            </div>



            <div class="login-button">
                <button type="submit" class="btn  btn-enova-primary btn-lg w-100 submit-login-btn" [disabled]="!loginForm.valid">{{ 'common.command.save' | translate }}</button>
            </div>




            <br>



        </form>
    </div>
</div>