<!-- ------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------UNUSED------open  layout.component.ts---------------------- -->
<!-- ------------------------------------------------------------------------------------------------- -->

<!-- <app-sidebar-referentiel *ngIf="initialRoute === url.Ref"></app-sidebar-referentiel> -->
<!-- <app-sidebar-administration *ngIf="initialRoute === url.Adm"></app-sidebar-administration> -->
<!-- *ngIf="initialRoute === url.Main" -->
<!-- <app-sidebar-application ></app-sidebar-application> -->

