<div class="jumbotron m-0 mb-2 pr-2 pl-2 pb-1 pt-1">
  <div class="row">
    <div class="row col-lg-6">
      <div class="col-6">
        <span class="font-weight-bold col-form-label-view">{{ 'common.label.createdon'  | translate }}</span>
        {{ createdOn }}
      </div>
      <div class="col-6">
        <span class="font-weight-bold">{{ 'common.label.by'  | translate }}</span>
        {{ createdBy }}
      </div>
    </div>
    <div class="row col-lg-6">
      <div class="col-6">
        <span class="font-weight-bold col-form-label-view">{{ 'common.label.updatedon'  | translate }}</span>
        {{ updatedOn }}
      </div>
      <div class="col-6">
        <span class="font-weight-bold">{{ 'common.label.by'  | translate }}</span>
        {{ updatedBy }}
      </div>
    </div>
  </div>
</div>
