.breadcrumb {
    //background: rgba(245, 245, 245, 1);
    display: flex;
    display: flex;
    margin: 20px 0px;
    padding: 5px 0px !important;
    // background-color: rgba(245, 247, 250, 1);
    b{
        padding: 0px !important;
    }
  
}

.breadcrumb li {
    font-size: 14.4px;
    // text-transform: uppercase;
    margin-right: 10px;
}

.breadcrumb a {
    color: rgba(122, 158, 172, 1);
    margin-left: 6px;
}

.breadcrumb a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.breadcrumb>.active {
    color: rgba(92, 118, 129, 1);
}

.breadcrumb>li+li:before {
    color: rgba(92, 118, 129, 1);
    content: " / ";
}
